nav ul {
  list-style: none;
  display: flex;
  gap: 50px;
  padding: 0;
  align-items: center;
  justify-content: center;
}

nav ul li a {
  text-decoration: none;
  color: #333;
  font-weight: bold;
}

nav ul li a:hover {
  color: #007bff;
}

.language{
  margin-bottom: 5px;
  padding: 5px;
  border: 3px solid black;
  background: var(--boxColor);
}

.category{
  display: flex;
  gap: 10px;
}

.category button{
  align-self: center;
}

.category button:hover{
  background: rgba(245, 85, 85, 0.5);
  transition: 0.3s;
  cursor: pointer;
}

.mathcourse{
  border: 3px solid black;
  margin-bottom: 10px;
  border-radius: 3px;
  
}

.course{
  height: 150px;
  border: 3px solid black;
  margin-bottom: 10px;
}





